<div class="main col-lg-9 col-lg-offset-3">
  <div class="sectionnewtest">
    <div class="options">
      <h2 class="title">New test</h2>
      <div class="steps">
        <span class="current"></span>
        <span class="current"></span>
        <span></span>
      </div>
    </div>
    <div class="bgwhite">
      <div class="head">
        <div class="row">
          <div class="col-sm-7">
            <h4>TEST NAME - 001223</h4>
            <p class="text"><span>Description:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum tempus urna, eu dignissim ante</p>
          </div>
          <div class="col-sm-5">
            <p class="text"><span>Calculation</span>Lorem ipsum dolor</p>
            <p class="text"><span>Division</span>Lorem ipsum dolor</p>
            <ul class="location">
              <li>IL</li>
              <li>NV</li>
              <li>NY</li>
              <li>CA</li>
              <li>IN</li>
              <li>KY</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="testcreation">
        <md-tab-group>
          <md-tab label="Interview">
            <div class="head form">
              <div class="row">
                <div class="col-sm-7">
                  <fieldset>
                    <md-input-container>
                      <input mdInput #message maxlength="256" placeholder="Description" value="">
                      <md-hint align="end">{{message.value.length}} / 256</md-hint>
                    </md-input-container>
                  </fieldset>
                </div>
                <div class="col-sm-5">
                  <fieldset>
                    <md-input-container>
                      <input mdInput placeholder="Calculation">
                      <md-icon mdSuffix><i class="icon-calculation"></i></md-icon>
                    </md-input-container>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <div class="cont">
                  <div class="field">
                    <div class="number"><span>1.</span></div>
                    <p class="text"><span>Note:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum t</p>
                    <p>Question lorem ipsum dolor si amet consectetur</p>
                    <ul class="checkboxes">
                      <li><md-checkbox>Option Number 1</md-checkbox></li>
                      <li><md-checkbox>Option Number 2</md-checkbox></li>
                      <li><md-checkbox>Option Number 3</md-checkbox></li>
                      <li><md-checkbox>Option Number 4</md-checkbox></li>
                    </ul>
                  </div>
                  <div class="field">
                    <div class="number"><span>2.</span></div>
                  </div>
                  <div class="btnadd">
                    <a href="javascript:void(0)" class="add"><i class="icon-plus"></i></a>
                  </div>
                  <div class="buttons">
                    <a class="btn btn-primary blue left">Back to Test Info</a>
                    <div class="right">
                      <a class="btn btn-primary blue inline">Save</a>
                      <a class="btn btn-primary blue inline">Next</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-6 bl plr0 h1000">
                    <div class="accordeon">
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Problem <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Text</a>
                                <a href="javascript:void(0)">Image</a>
                                <a href="javascript:void(0)">Video</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Solution <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)">Single Line</a>
                                <a href="javascript:void(0)">Radop</a>
                                <a href="javascript:void(0)" class="current">Checkbox</a>
                                <a href="javascript:void(0)">Number</a>
                                <a href="javascript:void(0)">Decimal</a>
                                <a href="javascript:void(0)">Drop Down</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Rules <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Rules</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Position <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Position</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 bl h1000">
                    <div class="form problem configuration">
                      <h4>Problem Configuration</h4>
                      <p class="text"><span>Problem Model:</span> Type</p>
                      <p class="text"><span>Type:</span>Legend</p>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #value maxlength="120" placeholder="Value" value="">
                          <md-hint align="end">{{value.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #hint maxlength="120" placeholder="Hint" value="">
                          <md-hint align="end">{{hint.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #note maxlength="120" placeholder="Note" value="">
                          <md-hint align="end">{{note.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="slidebutton">
                        <label>Show</label>
                        <md-slide-toggle></md-slide-toggle>
                      </fieldset>
                      <fieldset class="slidebutton">
                        <label>Disable</label>
                        <md-slide-toggle></md-slide-toggle>
                      </fieldset>
                      <fieldset>
                        <md-select placeholder="Subject Area">
                          <md-option *ngFor="let subject of subject" [value]="subject.value">
                            {{ subject.viewValue }}
                          </md-option>
                        </md-select>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Input Text" value="">
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-select placeholder="Key">
                          <md-option *ngFor="let key of key" [value]="key.value">
                            {{ key.viewValue }}
                          </md-option>
                        </md-select>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Input Text" value="">
                        </md-input-container>
                      </fieldset>
                    </div>
                    <div class="form solution configuration">
                      <h4>Solution Configuration</h4>
                      <p class="text"><span>Solution Model:</span> Type</p>
                      <p class="text mb20"><span>Type:</span>Checklist</p>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value1 maxlength="120" placeholder="Value 01" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a hhref="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value1.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value2 maxlength="120" placeholder="Value 02" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a href="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value2.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value3 maxlength="120" placeholder="Value 03" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a href="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value3.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                    </div>
                    <div class="form rules configuration">
                      <h4>Rules Configuration</h4>
                      <ul class="ruleslist">
                        <li>Rule #1
                          <nav>
                            <a href="javascript:void(0)"><i class="icon-edit"></i></a>
                            <a href="javascript:void(0)"><i class="icon-cancel"></i></a>
                          </nav>
                        </li>
                        <li>Rule #2
                          <nav>
                            <a href="javascript:void(0)"><i class="icon-edit"></i></a>
                            <a href="javascript:void(0)"><i class="icon-cancel"></i></a>
                          </nav>
                        </li>
                      </ul>
                      <a href="javascript:void(0)" class="addrule"><i class="icon-plus"></i></a>
                    </div>
                    <div class="form position configuration">
                      <h4>Location Configuration</h4>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Question Number">
                        </md-input-container>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-tab>
          <md-tab label="Questionnaire">
            <div class="head form">
              <div class="row">
                <div class="col-sm-7">
                  <fieldset>
                    <md-input-container>
                      <input mdInput #message maxlength="256" placeholder="Description" value="">
                      <md-hint align="end">{{message.value.length}} / 256</md-hint>
                    </md-input-container>
                  </fieldset>
                </div>
                <div class="col-sm-5">
                  <fieldset>
                    <md-input-container>
                      <input mdInput placeholder="Calculation">
                      <md-icon mdSuffix><i class="icon-calculation"></i></md-icon>
                    </md-input-container>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <div class="cont">
                  <div class="field">
                    <div class="number"><span>1.</span></div>
                    <p class="text"><span>Note:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum t</p>
                    <p>Question lorem ipsum dolor si amet consectetur</p>
                    <ul class="checkboxes">
                      <li><md-checkbox>Option Number 1</md-checkbox></li>
                      <li><md-checkbox>Option Number 2</md-checkbox></li>
                      <li><md-checkbox>Option Number 3</md-checkbox></li>
                      <li><md-checkbox>Option Number 4</md-checkbox></li>
                    </ul>
                  </div>
                  <div class="field">
                    <div class="number"><span>2.</span></div>
                  </div>
                  <div class="btnadd">
                    <a href="javascript:void(0)" class="add"><i class="icon-plus"></i></a>
                  </div>
                  <div class="buttons">
                    <a class="btn btn-primary blue left">Back to Test Info</a>
                    <div class="right">
                      <a class="btn btn-primary blue inline">Save</a>
                      <a class="btn btn-primary blue inline">Next</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-6 bl plr0 h1000">
                    <div class="accordeon">
                      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="true" aria-controls="collapseFive">
                                Problem <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Text</a>
                                <a href="javascript:void(0)">Image</a>
                                <a href="javascript:void(0)">Video</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                                Solution <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)">Single Line</a>
                                <a href="javascript:void(0)">Radop</a>
                                <a href="javascript:void(0)" class="current">Checkbox</a>
                                <a href="javascript:void(0)">Number</a>
                                <a href="javascript:void(0)">Decimal</a>
                                <a href="javascript:void(0)">Drop Down</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                Rules <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Rules</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                Position <i class="icon-arrowbottom"></i>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                              <nav class="options">
                                <a href="javascript:void(0)" class="current">Position</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 bl h1000">
                    <div class="form problem configuration">
                      <h4>Problem Configuration</h4>
                      <p class="text"><span>Problem Model:</span> Type</p>
                      <p class="text"><span>Type:</span>Legend</p>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #value maxlength="120" placeholder="Value" value="">
                          <md-hint align="end">{{value.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #hint maxlength="120" placeholder="Hint" value="">
                          <md-hint align="end">{{hint.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput #note maxlength="120" placeholder="Note" value="">
                          <md-hint align="end">{{note.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="slidebutton">
                        <label>Show</label>
                        <md-slide-toggle></md-slide-toggle>
                      </fieldset>
                      <fieldset class="slidebutton">
                        <label>Disable</label>
                        <md-slide-toggle></md-slide-toggle>
                      </fieldset>
                      <fieldset>
                        <md-select placeholder="Subject Area">
                          <md-option *ngFor="let subject of subject" [value]="subject.value">
                            {{ subject.viewValue }}
                          </md-option>
                        </md-select>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Input Text" value="">
                        </md-input-container>
                      </fieldset>
                      <fieldset>
                        <md-select placeholder="Key">
                          <md-option *ngFor="let key of key" [value]="key.value">
                            {{ key.viewValue }}
                          </md-option>
                        </md-select>
                      </fieldset>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Input Text" value="">
                        </md-input-container>
                      </fieldset>
                    </div>
                    <div class="form solution configuration">
                      <h4>Solution Configuration</h4>
                      <p class="text"><span>Solution Model:</span> Type</p>
                      <p class="text mb20"><span>Type:</span>Checklist</p>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value1 maxlength="120" placeholder="Value 01" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a href="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value1.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value2 maxlength="120" placeholder="Value 02" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a href="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value2.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                      <fieldset class="mb20">
                        <md-input-container>
                          <input mdInput #value3 maxlength="120" placeholder="Value 03" value="">
                          <md-hint align="star">
                            <a href="javascript:void(0)" class="plus"><i class="icon-plus"></i></a>
                            <a href="javascript:void(0)" class="minus"><i class="icon-minus"></i></a>
                          </md-hint>
                          <md-hint align="end">{{value3.value.length}} / 120</md-hint>
                        </md-input-container>
                      </fieldset>
                    </div>
                    <div class="form rules configuration">
                      <h4>Rules Configuration</h4>
                      <ul class="ruleslist">
                        <li>Rule #1
                          <nav>
                            <a href="javascript:void(0)"><i class="icon-edit"></i></a>
                            <a href="javascript:void(0)"><i class="icon-cancel"></i></a>
                          </nav>
                        </li>
                        <li>Rule #2
                          <nav>
                            <a href="javascript:void(0)"><i class="icon-edit"></i></a>
                            <a href="javascript:void(0)"><i class="icon-cancel"></i></a>
                          </nav>
                        </li>
                      </ul>
                      <a href="javascript:void(0)" class="addrule"><i class="icon-plus"></i></a>
                    </div>
                    <div class="form position configuration">
                      <h4>Location Configuration</h4>
                      <fieldset>
                        <md-input-container>
                          <input mdInput placeholder="Question Number">
                        </md-input-container>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-tab>
        </md-tab-group>
      </div>
    </div>
  </div>
</div>

