<div class="modaldescription">
  <button md-button [md-dialog-close]="true" class="modalclose"><span class="icon-close"><span class="path1"></span><span class="path2"></span></span></button>
  <h3 class="title">Description</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum tempus urna, eu dignissim ante gravida vel. Praesent commodo elit eu dolor facilisis placerat. Nulla facilisi. Lorem ipsum</p>
  <h3 class="title">Location</h3>
  <ul class="location">
    <li>IL</li>
    <li>NV</li>
    <li>NY</li>
    <li>CA</li>
    <li>IN</li>
    <li>KY</li>
  </ul>
</div>
