<div class="main col-lg-9 col-lg-offset-3">
  <a href="#" class="add"><i class="icon-plus"></i></a>
  <div class="sectiontest">
    <div class="options">
      <h2 class="title">Test list</h2>
      <div class="right form selsmall">
        <md-select placeholder="Search">
          <md-option *ngFor="let search of search" [value]="search.value">
            {{ search.viewValue }}
          </md-option>
        </md-select>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th width="20%">Test<i class="icon-arrowbottom"></i></th>
        <th width="30%"></th>
        <th width="30%">Status<i class="icon-arrowbottom"></i></th>
        <th width="20%"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      <tr>
        <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td>PUBLISHED</td>
        <td>
          <a class="btn btn-primary blue" href="#">Start Test</a>
          <div class="dropdown">
            <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
            <md-menu #menu="mdMenu">
              <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
              <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openDelete()"><i class="icon-delete"></i>Delete</a>
            </md-menu>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <div class="pagination">
            <nav>
              <a href="#"><span class="icon-arrowleft"><span class="path1"></span><span class="path2"></span></span></a>
              <a href="#">1 - 6</a>
              <a href="#"><span class="icon-arrowright"><span class="path1"></span><span class="path2"></span></span></a>
            </nav>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

