<div class="main col-lg-9 col-lg-offset-3">
  <div class="sectionusermanagement">
    <div class="options">
      <h2 class="title">User Info</h2>
    </div>
    <a class="backlink" routerLink="usersManagement"><i class="icon-back"></i>Back to list</a>
    <div class="bgwhite userinfo">
      <div class="dropdown">
        <button md-button [mdMenuTriggerFor]="menu"><i class="icon-menu"></i></button>
        <md-menu #menu="mdMenu">
          <a class="dropdown-item" href="javascript:void(0)"><i class="icon-edit"></i>Edit</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="icon-password"></i>Reset Password</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="icon-delete"></i>Delete User</a>
        </md-menu>
      </div>
      <div class="row">
        <div class="col-md-3 br">
          <div class="info">
            <span class="photo"><img src="assets/images/profile.png" alt=""/></span>
            <h3>Paul Smith </h3>
            <p><span>Employee ID:</span> 63562898109</p>
            <p><span>Email:</span>paul.smith@hotmail.com</p>
          </div>
        </div>
        <div class="col-md-3 br">
          <h4>PERSONAL INFO</h4>
          <p><span>DOB:</span>09 / MARCH / 17</p>
          <p><span>Gender:</span>Man</p>
          <p><span>Phone:</span>(630) 432 2345</p>
          <p><span>Cellphone:</span>(630) 432 2345</p>
          <p><span>Address:</span>34 fake street Chicago, IL 34000</p>
          <p><span>Mailing Address:</span>34 fake street Chicago, IL 34000</p>
        </div>
        <div class="col-md-3 br">
          <h4>CERTIFICATION</h4>
          <div class="certification">
            <p><span>Certification Name</span>Espires 22/07/2020</p>
            <p><span>Certification Name</span>Espires 22/07/2020</p>
            <p><span>Certification Name</span>Espires 22/07/2020</p>
            <p><span>Certification Name</span>Espires 22/07/2020</p>
            <p><span>Certification Name</span>Espires 22/07/2020</p>
          </div>
          <p><span>Report to:</span>Lorem ipsums</p>
          <p><span>Report to:</span>Lorem ipsums</p>
        </div>
        <div class="col-md-3">
          <h4>LOCATION</h4>
          <div class="div">
            <p>Chicago</p>
            <p>Elgin </p>
            <p>Bensenville</p>
            <p>Westcheter</p>
            <p>Brookfile</p>
            <p>La Grange</p>
          </div>
          <h4>DIVISION NAME</h4>
          <div class="div">
            <p>Cicero</p>
            <p>Park Rige</p>
            <p>Lonconwood</p>
            <p>Evanston</p>
            <p>Addison</p>
            <p>Maywood</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

