<section class="login">
  <div class="cont">
    <div class="center">
      <div class="contcenter">
        <h1 class="logo"><a href="#"><img src="assets/images/logo2.svg"></a></h1>
      </div>
      <form class="form">
        <fieldset class="infouser">
          <span class="photo"><img src="assets/images/profile.png" alt=""/></span>
          <div class="detail">
            <p>David Petherson</p>
            <span>Admin</span>
          </div>
        </fieldset>
        <fieldset>
          <md-input-container>
            <input mdInput
                   type="password"
                   placeholder="Enter your new password"
                   value="">
          </md-input-container>
        </fieldset>
        <fieldset class="mb40">
          <md-input-container>
            <input mdInput
                   type="password"
                   placeholder="Repeat the password"
                   value="">
          </md-input-container>
        </fieldset>
        <div class="contcenter">
          <button class="btn btn-primary blue inline">Login</button>
        </div>
      </form>
    </div>
  </div>
</section>
