section.login{
    background-color: #1C2326;
    bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
section.login > div.cont{
    background-color: #2E3A40;
    height: 100%;
    position: absolute;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -225px;
    width: 450px;
}
section.login > div.cont .center{
    display: block;
    padding: 0px 30px;
    width: 100%;
}
section.login h1.logo{ margin: 0 0 20px 0; }

section.login .btn{ min-width: 80%; margin: 0 auto 20px; }
section.login .infouser{
    display: inline-block;
    padding-left: 65px;
    position: relative;
    margin-bottom: 20px;
    min-height: 55px;
    margin-top: 10px;
}
    section.login .infouser span.photo{
        border-radius: 100%;
        border: 2px solid #FFFFFF;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 55px;
        width: 55px;
    }
        section.login .infouser span.photo img{ max-width: 100%; }

    section.login .infouser .detail{ text-align: left; }
        section.login .infouser .detail p{
            color: #FFFFFF;
            font-size: 15px;
            margin-bottom: 0px;
            line-height: 20px;
            padding-top: 5px;rgin-bottom: 0px;
        }
        section.login .infouser .detail span{
            color: #00ABFE;
            display: block;
            font-size: 14px;
        }
