<div class="main col-lg-9 col-lg-offset-3">
  <div class="sectiontest">
    <div class="options">
      <h2 class="title">Test list</h2>
      <div class="right form">
        <div class="search">
          <input name="" value="" placeholder="Search"/>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th width="20%">Test Name<i class="icon-arrowbottom"></i></th>
        <th></th>
        <th width="20%"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr class="gray">
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr class="gray">
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td></td>
      </tr>
      <tr class="gray">
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      <tr class="gray">
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Test Name<a routerLink="testinfo" class="ml10"><i class="icon-eye"></i></a></td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
        <td><a class="btn btn-primary blue right" href="javascript:void(0)">Start Test</a></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          <div class="pagination">
            <nav>
              <a href="javascript:void(0)"><span class="icon-arrowleft"><span class="path1"></span><span class="path2"></span></span></a>
              <a href="javascript:void(0)">1 - 6</a>
              <a href="javascript:void(0)"><span class="icon-arrowright"><span class="path1"></span><span class="path2"></span></span></a>
            </nav>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
