<div class="newlocation w790">
  <button md-button [md-dialog-close]="true" class="modalclose"><span class="icon-close"><span class="path1"></span><span class="path2"></span></span></button>
  <h3 class="withline">New Location</h3>
  <form class="form">
    <div class="row mb20">
      <div class="col-sm-6">
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="Name" value="">
          </md-input-container>
        </fieldset>
        <fieldset>
          <md-input-container class="example-full-width">
            <input mdInput #message maxlength="256" placeholder="Description" value="">
            <md-hint align="end">{{message.value.length}} / 256</md-hint>
          </md-input-container>
        </fieldset>
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="Address Line 1" value="">
          </md-input-container>
        </fieldset>
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="Address Line 2" value="">
          </md-input-container>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <md-select placeholder="City">
            <md-option *ngFor="let city of city" [value]="city.value">
              {{ city.viewValue }}
            </md-option>
          </md-select>
        </fieldset>
        <fieldset>
          <md-select placeholder="State">
            <md-option *ngFor="let state of state" [value]="state.value">
              {{ state.viewValue }}
            </md-option>
          </md-select>
        </fieldset>
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="Zipcode" value="">
          </md-input-container>
        </fieldset>
        <fieldset>
          <md-select placeholder="Time Zone">
            <md-option *ngFor="let timezone of timezone" [value]="timezone.value">
              {{ timezone.viewValue }}
            </md-option>
          </md-select>
        </fieldset>
      </div>
    </div>
    <div class="contcenter">
      <button [md-dialog-close]="true" class="btn btn-primary blue inline">Create</button>
    </div>
  </form>
</div>
