<header>
  <div class="container-fluid">
    <h1 class="logo"><a href="#"><img src="assets/images/logo.svg"></a> </h1>
    <h2 class="title">{{titlePage}}</h2>
    <div class="dropdown">
      <a href="#" id="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="photo"><img src="assets/images/user.png" alt=""/></span>
        <span class="name">David Petherson</span>
        <span>Admin</span>
        <i class="icon-arrowbottom"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navigation">
        <a class="dropdown-item" href="#">Option</a>
        <a class="dropdown-item" href="#">Option</a>
        <a class="dropdown-item" href="#">Option</a>
        <a class="dropdown-item" href="#">Option</a>
        <a class="dropdown-item" href="#">Option</a>
      </div>
    </div>
  </div>
</header>
