 section.login{
    background-color: #1C2326;
    bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
 }
    section.login > div.cont{
      background-color: #2E3A40;
      height: 100%;
      position: absolute;
      height: 100vh;
      display: flex;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      text-align: center;
      top: 0;
      left: 50%;
      margin-left: -225px;
      width: 450px;
    }
    section.login > div.cont .center{
      display: block;
      padding: 0px 30px;
      width: 100%;
    }
    section.login h1.logo{ margin: 0 0 20px 0; }
    p.small, p.small a{
      color: #FFFFFF;
      font-size: 12px;
      margin-bottom: 0;
    }
    p.small a.linkblue {
      color: #00ABFE;
      display: inline-block;
      text-decoration: underline;
      padding: 0px 5px;
    }

 section.login .btn{
   min-width: 80%;
   margin: 0 auto 20px;
 }
