<section class="login">
  <div class="cont">
    <div class="center">
      <div class="contcenter">
        <h1 class="logo"><a href="#"><img src="assets/images/logo2.svg"></a></h1>
      </div>
      <form class="form">
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="User Name" value="">
          </md-input-container>
        </fieldset>
        <fieldset class="mb40">
          <md-input-container>
            <input mdInput type="password" placeholder="Password" value="">
          </md-input-container>
        </fieldset>
        <div class="contcenter">
          <button class="btn btn-primary blue inline">Login</button>
          <p class="small">Forgot your password?<a href="#" class="linkblue">Remember me</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
