<div class="main col-lg-9 col-lg-offset-3">
  <div class="patienttestlist">
    <div class="bgwhite userinfo">
      <a class="edit" href="javascript:void(0)"><i class="icon-edit"></i></a>
      <div class="row">
        <div class="col-md-3 br">
          <div class="info">
            <span class="photo"><img src="assets/images/profile.png" alt=""/></span>
            <h3>Paul Smith </h3>
            <p><span>Driving Lic No:</span> 63562898109</p>
          </div>
        </div>
        <div class="col-md-3 br">
          <p><span>DOB:</span>09 / MARCH / 17</p>
          <p><span>Nationality:</span>EEUU</p>
          <p><span>Gender:</span>Man</p>
          <p><span>Weight:</span>170</p>
          <p><span>Status:</span>Married</p>
        </div>
        <div class="col-md-3 br">
          <p><span>Phone:</span>260 345 4466</p>
          <p><span>Cellphone:</span>311 233 5533</p>
          <p><span>Mailing Address:</span>70 Monrrouses street 445566 Chicago, Il </p>
        </div>
        <div class="col-md-3">
          <div class="btnmiddle">
            <a class="btn btn-primary blue" href="javascript:void(0)" (click)="selectTest()">New Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="empty bgwhite">
      <div class="contcenter">
        <span class="icon"><i class="icon-test2"></i></span>
        <h4>This user has not had any test</h4>
        <p>Do you want to start new test?<a class="btn btn-primary blue" href="javascript:void(0)" (click)="selectTest()">Start Test</a></p>
      </div>
    </div>
  </div>
</div>
