<aside>
  <ul>
    <li><a routerLink="/user/test" routerLinkActive="active"><i class="icon-testrepository"></i>Test Repository</a></li>
    <li><a routerLink="/user/patientManagement" routerLinkActive="active"><i class="icon-users"></i>Patient Management</a></li>
    <li><a routerLink="/user/testhistory"><i class="icon-testhistory"></i>Test History</a></li>
    <li><a href="javascript:void(0)"><i class="icon-billing"></i>Billing</a></li>
  </ul>
  <div class="search">
    <input name="" value="" placeholder="Search"/>
  </div>
</aside>
