<aside>
  <ul>
    <li routerLinkActive="active"><a routerLink="/user/dashboardUser"><i class="icon-dashboard"></i>Dashboard</a></li>
    <li routerLinkActive="active"><a routerLink="/user/testrepository"><i class="icon-testrepository"></i>Test Repository</a></li>
    <li routerLinkActive="active"><a routerLink="/user/patientManagement"><i class="icon-users"></i>Patient Management</a></li>
    <li routerLinkActive="active"><a routerLink="/user/testhistory"><i class="icon-testhistory"></i>Test History</a></li>
    <li routerLinkActive="active"><a href="javascript:void(0)"><i class="icon-billing"></i>Billing</a></li>
  </ul>
  <div class="search">
    <input name="" value="" placeholder="Search"/>
  </div>
</aside>
