<!--The whole content below can be removed with the new code.-->
<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-aside></app-aside>
    <div class="main col-lg-9 col-lg-offset-3">
      <div class="sectiontest">
        <h2 class="title">Test list</h2>
        <table class="table">
          <thead>
            <tr>
              <th width="20%">Test<i class="icon-arrowbottom"></i></th>
              <th width="30%"></th>
              <th width="30%">Status<i class="icon-arrowbottom"></i></th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable2">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable3">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable4">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable5">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable6">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable7">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable8">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable9">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable10">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable11">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable12">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable13">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Test Name<a href="#" class="ml10"><i class="icon-eye"></i></a></td>
              <td><a href="#">Description</a> </td>
              <td>PUBLISHED</td>
              <td>
                <a class="btn btn-primary blue" href="#" role="button">Start Test</a>
                <div class="dropdown">
                  <a href="#" id="menutable14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-menu"></i></a>
                  <div class="dropdown-menu" aria-labelledby="menutable14">
                    <a class="dropdown-item" href="#"><i class="icon-publish"></i>Publish</a>
                    <a class="dropdown-item" href="#"><i class="icon-edit"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="icon-print"></i>Print</a>
                    <a class="dropdown-item" href="#"><i class="icon-delete"></i>Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

<router-outlet></router-outlet>
