<div class="modalscore w790">
  <button md-button [md-dialog-close]="true" class="modalclose"><span class="icon-close"><span class="path1"></span><span class="path2"></span></span></button>
  <h3 class="withline">Score</h3>
  <div class="contcenter">

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="bgwhite">
        <h3><i class="icon-questionary"></i>Questionary</h3>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="bgwhite">
        <h3><i class="icon-interview"></i>Interview</h3>
      </div>
    </div>
  </div>
</div>
