<div class="modalscore w850">
  <button md-button [md-dialog-close]="true" class="modalclose"><span class="icon-close"><span class="path1"></span><span class="path2"></span></span></button>
  <h3 class="pleft">Score</h3>
  <div class="contcenter">
    <h4>Patient Name</h4>
    <p>22/01/2017</p>
  </div>
  <span class="border"></span>
  <div class="row">
    <div class="col-sm-6">
      <div class="bgwhite">
        <h3><i class="icon-questionary"></i>Questionary</h3>
        <div class="contleft">
          <md-list>
            <md-list-item class="title">Subject Area</md-list-item>
            <md-list-item>Marital Status</md-list-item>
            <md-list-item>Stress</md-list-item>
            <md-list-item>Worry</md-list-item>
            <md-list-item>Fear</md-list-item>
            <md-list-item>Sleeping Problem</md-list-item>
            <md-list-item>Drinking Problem</md-list-item>
            <md-list-item>Agitation</md-list-item>
          </md-list>
        </div>
        <div class="contright">
          <md-grid-list cols="3" rowHeight="3:2">
            <md-grid-tile class="color btl"></md-grid-tile>
            <md-grid-tile class="color">Summary</md-grid-tile>
            <md-grid-tile class="color btr">Key Total</md-grid-tile>
            <md-grid-tile class="color">Key - 1</md-grid-tile>
            <md-grid-tile>1</md-grid-tile>
            <md-grid-tile>2</md-grid-tile>
            <md-grid-tile class="color bbl">Key - 2</md-grid-tile>
            <md-grid-tile>2</md-grid-tile>
            <md-grid-tile class="bbr">2</md-grid-tile>
          </md-grid-list>
          <p class="info">Total <span>4</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="bgwhite">
        <h3><i class="icon-interview"></i>Interview</h3>
        <div class="contleft">
          <md-list>
            <md-list-item class="title">Subject Area</md-list-item>
            <md-list-item>Physical Health</md-list-item>
            <md-list-item>Disability</md-list-item>
            <md-list-item>Family Problems</md-list-item>
            <md-list-item>Work History</md-list-item>
            <md-list-item>Drinking History</md-list-item>
            <md-list-item>Previous Arrest</md-list-item>
          </md-list>
        </div>
        <div class="contright">
          <md-grid-list cols="3" rowHeight="3:2">
            <md-grid-tile class="color btl"></md-grid-tile>
            <md-grid-tile class="color">Summary</md-grid-tile>
            <md-grid-tile class="color btr">Key Total</md-grid-tile>
            <md-grid-tile class="color bbl">Key - 3</md-grid-tile>
            <md-grid-tile>1</md-grid-tile>
            <md-grid-tile class="bbr">2</md-grid-tile>
          </md-grid-list>
          <p class="info">Total <span>3</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <p class="info">Final Total Score <span>6</span></p>
      <p class="info">Calification <span>NON PROBLEM DRINKER</span></p>
      <p>(Questionnair + Interview)</p>
      <div class="pbottomright">
        <a href="javascript:void(0)"><i class="icon-download"></i></a>
        <a href="javascript:void(0)"><i class="icon-print"></i></a>
      </div>
    </div>
  </div>
</div>
