<aside>
  <ul>
    <li routerLinkActive="active"><a routerLink="/admin/dashboardAdmin"><i class="icon-dashboard"></i>Dashboard</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/test"><i class="icon-test"></i>Test</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/usersManagement"><i class="icon-users"></i>Users Management</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/testhistory"><i class="icon-testhistory"></i>Test History</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/patientManagement"><i class="icon-patient"></i>Patient Management</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/accessPermission"><i class="icon-access"></i>Access Permission</a></li>
    <li routerLinkActive="active"><a routerLink="/admin/locations"><i class="icon-locations"></i>Locations</a></li>
    <li routerLinkActive="active"><a href="javascript:void(0)"><i class="icon-billing"></i>Billing</a></li>
  </ul>
  <div class="search">
    <input name="" value="" placeholder="Search"/>
  </div>
</aside>
