<aside>
  <ul>
    <li><a routerLink="/admin/test" routerLinkActive="active"><i class="icon-test"></i>Test</a></li>
    <li><a routerLink="/admin/usersManagement" routerLinkActive="active"><i class="icon-users"></i>Users Management</a></li>
    <li><a routerLink="/admin/testhistory"><i class="icon-testhistory"></i>Test History</a></li>
    <li><a routerLink="/admin/patientManagement" routerLinkActive="active"><i class="icon-patient"></i>Patient Management</a></li>
    <li><a routerLink="/admin/accessPermission" routerLinkActive="active"><i class="icon-access"></i>Access Permission</a></li>
    <li><a routerLink="/admin/locations" routerLinkActive="active"><i class="icon-locations"></i>Locations</a></li>
    <li><a href="javascript:void(0)"><i class="icon-billing"></i>Billing</a></li>
  </ul>
  <div class="search">
    <input name="" value="" placeholder="Search"/>
  </div>
</aside>
