<div class="selecttest w790">
  <button md-button [md-dialog-close]="true" class="modalclose"><span class="icon-close"><span class="path1"></span><span class="path2"></span></span></button>
  <h3 class="withline">Select the Tests</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Test Name<i class="icon-arrowbottom"></i></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
      <tr>
        <td>Test Name</td>
        <td><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
      </tr>
    </tbody>
  </table>
  <div class="contcenter">
    <ul class="inline">
      <li><button class="btn btn-primary blue inline">Start Test</button></li>
    </ul>
  </div>
</div>
