<section class="login">
  <div class="cont">
    <div class="center">
      <div class="contcenter">
        <h1 class="logo"><a href="#"><img src="assets/images/logo2.svg"></a></h1>
      </div>
      <form class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <md-input-container>
            <input mdInput placeholder="User Name"
                   value=""
                   formControlName="user_name" >
          </md-input-container>
        </fieldset>
        <fieldset class="mb40">
          <md-input-container>
            <input mdInput
                   type="password"
                   placeholder="Password"
                   formControlName="password"
                   value="">
          </md-input-container>
        </fieldset>
        <div class="contcenter">
          <button class="btn btn-primary blue inline"
                  type="submit"
                  [disabled]="!loginForm.valid">Login</button>
          <p class="small"><a href="javascript:void(0)" routerLink="/forgotpassword">Forgot your password?</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
