<div class="main col-lg-9 col-lg-offset-3">
  <div class="sectionsearch">
    <div class="search">
      <input name="" value="" placeholder="Search"/>
    </div>
    <div class="item">
      <div class="options">
        <h2 class="title">TEST REPOSITORY</h2>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td width="30%">Test Name<a href="javascript:void(0)" class="ml10"><i class="icon-eye"></i></a></td>
          <td width="50%"><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Start Test</a></td>
        </tr>
        <tr>
          <td width="30%">Test Name<a href="javascript:void(0)" class="ml10"><i class="icon-eye"></i></a></td>
          <td width="50%"><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Start Test</a></td>
        </tr>
        <tr>
          <td width="30%">Test Name<a href="javascript:void(0)" class="ml10"><i class="icon-eye"></i></a></td>
          <td width="50%"><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Start Test</a></td>
        </tr>
        <tr>
          <td width="30%">Test Name<a href="javascript:void(0)" class="ml10"><i class="icon-eye"></i></a></td>
          <td width="50%"><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Start Test</a></td>
        </tr>
        <tr>
          <td width="30%">Test Name<a href="javascript:void(0)" class="ml10"><i class="icon-eye"></i></a></td>
          <td width="50%"><a href="javascript:void(0)" (click)="openDescription()">Description</a></td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Start Test</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="item">
      <div class="options">
        <h2 class="title">TEST HISTORY</h2>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td><a href="javascript:void(0)" (click)="openScore()">001234</a></td>
          <td><a href="javascript:void(0)" routerLink="/user/patientManagement/PatienttestlistUser">Patient Name</a></td>
          <td>01/22/2017</td>
          <td>CHICAGO, IL</td>
          <td><span class="score">6</span></td>
          <td>User Name</td>
          <td>IN PROGRESS</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)" (click)="openScore()">001234</a></td>
          <td><a href="javascript:void(0)" routerLink="/user/patientManagement/PatienttestlistUser">Patient Name</a></td>
          <td>01/22/2017</td>
          <td>CHICAGO, IL</td>
          <td><span class="score">6</span></td>
          <td>User Name</td>
          <td>UNSUBMITED</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Submit</a></td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)" (click)="openScore()">001234</a></td>
          <td><a href="javascript:void(0)" routerLink="/user/patientManagement/PatienttestlistUser">Patient Name</a></td>
          <td>01/22/2017</td>
          <td>CHICAGO, IL</td>
          <td><span class="score">6</span></td>
          <td>User Name</td>
          <td>UNSUBMITED</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Submit</a></td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)" (click)="openScore()">001234</a></td>
          <td><a href="javascript:void(0)" routerLink="/user/patientManagement/PatienttestlistUser">Patient Name</a></td>
          <td>01/22/2017</td>
          <td>CHICAGO, IL</td>
          <td><span class="score">6</span></td>
          <td>User Name</td>
          <td>UNSUBMITED</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Submit</a></td>
        </tr>
        <tr>
          <td><a href="javascript:void(0)" (click)="openScore()">001234</a></td>
          <td><a href="javascript:void(0)" routerLink="/user/patientManagement/PatienttestlistUser">Patient Name</a></td>
          <td>01/22/2017</td>
          <td>CHICAGO, IL</td>
          <td><span class="score">6</span></td>
          <td>User Name</td>
          <td>UNSUBMITED</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">Submit</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="item">
      <div class="options">
        <h2 class="title">PATIENTS LIST</h2>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td><a routerLink="/user/patientManagement/PatienttestlistUser">PATIENT NAME</a></td>
          <td>870347299</td>
          <td>CHICAGO, IL</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">New Test</a></td>
        </tr>
        <tr>
          <td><a routerLink="/user/patientManagement/PatienttestlistUser">PATIENT NAME</a></td>
          <td>870347299</td>
          <td>CHICAGO, IL</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">New Test</a></td>
        </tr>
        <tr>
          <td><a routerLink="/user/patientManagement/PatienttestlistUser">PATIENT NAME</a></td>
          <td>870347299</td>
          <td>CHICAGO, IL</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">New Test</a></td>
        </tr>
        <tr>
          <td><a routerLink="/user/patientManagement/PatienttestlistUser">PATIENT NAME</a></td>
          <td>870347299</td>
          <td>CHICAGO, IL</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">New Test</a></td>
        </tr>
        <tr>
          <td><a routerLink="/user/patientManagement/PatienttestlistUser">PATIENT NAME</a></td>
          <td>870347299</td>
          <td>CHICAGO, IL</td>
          <td><a class="btn btn-primary blue" href="javascript:void(0)">New Test</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

