/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* #Site Styles
================================================== */
body {
  background: #F4F4F4;
  color: #2E3A40;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow-x: hidden !important;;
  margin: 0;
}
html, body{ overflow-x: hidden; }

.container-fluid{ min-width: 1200px !important; }
.col-lg-offset-3 { margin-left: calc(100% - (100% - 250px)) !important; }

h2.title{
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/* Tables
================================================== */
table.table{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #1C2326;
  font-weight: normal;
  font-size: 13px;
}
  table.table a{
    color: #00ABFE;
  }
  table.table thead{
    background-color: #F8F8F8;
    color: #979DA0;
    font-size: 13px;
  }
    table.table > thead > tr > th{
      border-bottom: 1px solid #EAEAEA;
      font-weight: 400;
      padding: 10px 20px;
    }
      table.table > thead > tr > th i.icon-arrowbottom{
        color: #00ABFE;
        font-size: 5px;
        position: relative;
        top: -1px;
        margin-left: 10px;
      }
    table.table > tbody{
      background-color: #FFFFFF;
    }
        table.table > tbody > tr > td{
          border-bottom: 1px solid #EAEAEA;
          font-weight: 400;
          padding: 10px 20px;
          vertical-align: middle;
        }
          table.table > tbody > tr > td .ml10{ margin-left: 10px }
          table.table > tbody > tr > td a{ display: inline-block;}
          table.table > tbody > tr > td i{ position: relative; top: 2px; }

/* Buttons
================================================== */
.btn.btn-primary{
  height: 30px;
  padding: 7px 20px;
  margin: 0;
  text-transform: none;
}
  .btn.btn-primary.blue{ background-color: #00ABFE; }
  .btn.btn-primary.blue:active,
  .btn.btn-primary.blue:focus,
  .btn.btn-primary.blue:hover {
    background-color: #197AA9 !important;
  }

  .dropdown{
    display: block;
    margin-left: 10px;
    float: right;
  }
    .dropdown a{
      font-size: 18px;
      position: relative;
      top: 2px;
    }

.dropdown-menu{
  left:auto;
  right: 0;
}
  .dropdown-menu a{
    color: #979DA0;
    display: block !important;
    padding: 5px 10px 5px 50px;
    position: relative;
    font-size: 14px;
  }
    .dropdown-menu a:hover{ background-color: #00ABFE; color: #FFFFFF; }
    table.table > tbody > tr > td .dropdown-menu > a > i {
      color: #00ABFE;
      position: absolute;
      top: 8px;
      left: 15px;
      font-size: 15px;
    }
      table.table > tbody > tr > td .dropdown-menu > a:hover > i{ color: #FFFFFF;}

  .pagination{
    text-align: center
  }
    .pagination nav{
      display: inline-block;
    }
      .pagination nav a{
        display: block;
        float: left;
        margin: 0 5px;
      }

/* Icons
================================================== */
@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?6di09k');
  src:  url('assets/fonts/icomoon.eot?6di09k#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon.ttf?6di09k') format('truetype'),
  url('assets/fonts/icomoon.woff?6di09k') format('woff'),
  url('assets/fonts/icomoon.svg?6di09k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-interview:before { content: "\e900"; }
.icon-questionary:before { content: "\e901"; }
.icon-password:before { content: "\e902"; }
.icon-inactivate:before { content: "\e903"; }
.icon-activate:before { content: "\e904"; }
.icon-calculation:before { content: "\e905"; }
.icon-warning:before { content: "\e906"; }
.icon-close .path1:before {
  content: "\e907";
  color: rgb(0, 171, 254);
}
.icon-close .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrowbottom2:before { content: "\e909"; }
.icon-delete:before { content: "\e90a"; }
.icon-print:before { content: "\e90b"; }
.icon-download:before { content: "\e90c"; }
.icon-edit:before { content: "\e90d"; }
.icon-publish:before { content: "\e90e"; }
.icon-arrowright .path1:before {
  content: "\e90f";
  color: rgb(0, 171, 254);
}
.icon-arrowright .path2:before {
  content: "\e910";
  margin-left: -0.8828125em;
  color: rgb(255, 255, 255);
}
.icon-arrowleft .path1:before {
  content: "\e911";
  color: rgb(0, 171, 254);
}
.icon-arrowleft .path2:before {
  content: "\e912";
  margin-left: -0.8828125em;
  color: rgb(255, 255, 255);
}
.icon-plus:before { content: "\e913"; }
.icon-eye:before { content: "\e914"; }
.icon-arrowbottom:before { content: "\e915"; }
.icon-menu:before { content: "\e916"; }
.icon-search:before { content: "\e917"; }
.icon-billing:before { content: "\e918"; }
.icon-locations:before { content: "\e919"; }
.icon-access:before { content: "\e91a"; }
.icon-patient:before { content: "\e91b"; }
.icon-testhistory:before { content: "\e91c"; }
.icon-users:before { content: "\e91d"; }
.icon-test:before { content: "\e91e"; }
