<div class="main col-lg-9 col-lg-offset-3">
  <div class="sectionnewpermission">
    <div class="options">
      <h2 class="title">New Permission</h2>
    </div>
    <div class="bgwhite">
      <form class="form">
        <div class="section bb">
          <h4>Name</h4>
          <p class="mb0">Give this access permissions a descriptive name  </p>
          <div class="cont">
            <fieldset class="left">
              <md-input-container>
                <input mdInput placeholder="" value="Lorem ipsum dolor sit amet, ">
              </md-input-container>
            </fieldset>
            <button class="btn btn-primary blue right">Save</button>
          </div>
        </div>
        <div class="section">
          <h4>Access</h4>
          <p>After a person assigned to this Access Permission logs in, Waht areas would you like to give them access to? You can give access to both the Member Area and the Admin Area.</p>
        </div>
        <div class="permitassignment">
          <div class="permitionmenu">
            <h4>ADMIN AREAS</h4>
            <nav>
              <a href="javascript:void(0)" class="active">Users</a>
              <a href="javascript:void(0)">Access Control</a>
              <a href="javascript:void(0)">Template Management</a>
              <a href="javascript:void(0)">Tests Management</a>
            </nav>
          </div>
          <div class="permitioncontent">
            <div class="bgcolor">
              <h4>USERS</h4>
              <p>After a person assigned to this Access Permission logs in</p>
            </div>
            <ul class="permittree">
              <li>
                <md-checkbox>Allow access to users</md-checkbox>
                <ul>
                  <li>
                    <md-checkbox>Restrict Access</md-checkbox>
                    <p>This area allows you to restrict viewing of certain areas for users in this access permission.</p>
                    <ul>
                      <li>
                        <md-checkbox>Can only view people within group categories they administer</md-checkbox>
                        <p>People with access permissions we'll only be able to see people within group categories                		they administer. </p>
                      </li>
                      <li>
                        <md-checkbox>Can only View people within groups they lead</md-checkbox>
                        <p>People with access permissions we'll only be able to see people within group categories 		they are leader of. </p>
                      </li>
                      <li>
                        <md-checkbox>Can only View people within groups they are a part of</md-checkbox>
                        <p>People with access permissions we'll only be able to see people within group categories 		they are part of.</p>
                      </li>
                      <li>
                        <md-checkbox>Can only View specified people categories</md-checkbox>
                        <p>This allows you to limit which people categories individuals with this permission can view</p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <md-checkbox>Creative</md-checkbox>
                    <p>This give users the ability to create User.</p>
                  </li>
                  <li>
                    <md-checkbox>View user list</md-checkbox>
                    <p>This give users the ability to view writing users.</p>
                  </li>
                  <li>
                    <md-checkbox>View User</md-checkbox>
                    <p>This gives users the ability to view user details.</p>
                  </li>
                  <li>
                    <md-checkbox>Inactivate/Delete</md-checkbox>
                    <p>This allows users to delete/inactivate user from the system.</p>
                  </li>
                  <li>
                    <md-checkbox>Update</md-checkbox>
                    <p>This give users the ability to update user details.</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

