<div class="main col-lg-9 col-lg-offset-3">
  <section class="dashboard">
    <div class="col-sm-5">
      <div class="form">
        <div class="datepicker" *ngFor="let dateInput of dateInputs">
          <div daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }" >
          <span class="text">
            {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
             <span class="arrow"><i class="icon-arrowbottom"></i></span>
          </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 p2">
          <div class="bgwhite item h307" routerLink="/user/testhistory">
            <div class="center">
              <span class="number">14</span>
              <p>Test in Progress</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 p2">
          <div class="bgwhite item h307">
            <div class="center">
              <span class="number">24</span>
              <p>Test has not been submitted</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 p2">
          <div class="bgwhite item h307">
            <div class="center">
              <span class="image"><i class="icon-test2"></i></span>
              <p>Start Test</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 p2">
          <div class="bgwhite item h307">
            <div class="center">
              <span class="image"><i class="icon-patient2"></i></span>
              <p>Test has not been submitted</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="bgwhite graph">
        <div class="form">
          <label>PATIENT DISTRIBUTION BY
            <div class="selsmall">
              <md-select>
                <md-option *ngFor="let distribution of distribution" [value]="distribution.value">
                  {{ distribution.viewValue }}
                </md-option>
              </md-select>
            </div>
          </label>
          <div class="datepicker" *ngFor="let dateInput of dateInputs">
            <div daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }" >
              <span class="text">
                {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
                 <span class="arrow"><i class="icon-arrowbottom"></i></span>
              </span>
            </div>
          </div>
        </div>
        <div class="chart">
          <canvas baseChart [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors"
                  [legend] = false
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="contcenter">
          <ul class="legend">
            <li class="darkgreen">
              <span class="number">8%</span>
              <p>18 - 20</p>
            </li>
            <li class="green">
              <span class="number">17%</span>
              <p>21 -24</p>
            </li>
            <li class="lightgreen">
              <span class="number">8%</span>
              <p>18 - 20</p>
            </li>
            <li class="darkblue">
              <span class="number">17%</span>
              <p>21 -24</p>
            </li>
            <li class="blue">
              <span class="number">8%</span>
              <p>18 - 20</p>
            </li>
            <li class="lightblue">
              <span class="number">17%</span>
              <p>21 -24</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

